.product{
    padding: 20px;
    width: fit-content;
    background-color: darkgray;
}

.category{
    padding: 20px;
    width: fit-content;
    background-color: lightyellow;
}

.demo{
    padding: 20px;
    background-color: green;
}